
.errorLogin{
    float: right;
    color: red;
    display: none;
}

.marginRight{
    margin-right: 5px;
    max-width: 135px;
}

.or{
    margin: 0;
    padding: 5px;
}

.regDiv {
    text-align: center;
    width: 300px;
    margin: auto;
}

.errorRegister{
    color: red;
    display: none;
}

