<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/myReports.css">
    <link rel="stylesheet" href="./css/map.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/login.js"></script>
    <script src="./js/modal.js"></script>
    <script src="./js/register.js"></script>
    <script src="./js/admin.js"></script>
    <script src="./js/view.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1ULZ-JB8toUkcffhV6hbvpB7fQMK4u2E&callback=initMap&sensor=true"></script>
</head>
<body>

<body ng-app="myApp">

<div class="container">
    <div class="login-container" style="" ng-controller="loginCtrl">
        <div id="loginForm" style="padding-top: 20px;float: right; display: inline-flex; width: 450px">
            <input class="form-control marginRight" type="text" placeholder="Username" id="name" maxlength="10" required>
            <input class="form-control marginRight" type="password" placeholder="Password" id="pwd" required>
            <button class="btn btn-primary" type="submit" ng-click="login()">login</button>
            <p class="or">or</p>
            <button class="btn btn-primary" type="submit" ng-click="register()">register</button>
            <div class="errorLogin" style="position: absolute; margin-top: 35px;"></div>
        </div>
        <div id="logedIn" style="padding-top: 20px;float: right">
            Hello {{name}}!  <button class="btn btn-secondary" type="submit" ng-click="logout()">logout</button>
        </div>
    </div>
    <div class="row"ng-controller="adminCtrl">
        <div class="col"  style="display: flex; width: 100%; margin-top: 22px">
            <ul class="nav nav-tabs" id="myTabs" style="width: 100%">
                <li class="nav-item">
                    <a class="nav-link active" href="./">View</a>
                </li>
                <li class="nav-item" ng-show="isLogin">
                    <a class="nav-link" href="./myReports.html">My Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./add.html">Add</a>
                </li>
                <li class="nav-item" ng-show="isLogin">
                    <a class="nav-link" href="./settings.html">Settings</a>
                </li>
                <li class="nav-item" ng-show="isAdmin">
                    <a class="nav-link" href="./admin.html">Admin</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" ng-controller="viewCtrl">

        <div style="float: right;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active" ng-click="toogleClick(1)">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> List
                </label>
                <label class="btn btn-secondary" ng-click="toogleClick(0)">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Map
                </label>
            </div>
        </div>

        <div id="map"style="margin: 15px 0; display: none">
            <div style="width: 100%; height: 450px"><div id="map_canvas" name="map"></div></div>

            <script>
                function initialize(coords) {
                    var mapOptions = {
                        zoom: 12,
                        center: new google.maps.LatLng(coords.latitude, coords.longitude),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                    addmarker(map);
                }

                function addmarker(map){
                    fetch('/item/undefined', {
                        method: 'GET',
                        headers:{
                            'Content-Type': 'application/json'
                        }
                    }).then(res => res.json())
                        .then((response) => {
                            for(var i = 0; i < response.length; i++){
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(response[i].gps.lat, response[i].gps.long),
                                    map: map,
                                    title: response[i].title
                                });
                                var infowindow = new google.maps.InfoWindow({
                                    content: response[i].title+": "+response[i].details
                                });
                                var content = response[i].title+": "+response[i].details;

                                google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                                    return function() {
                                        infowindow.setContent(content);
                                        infowindow.open(map,marker);
                                    };
                                })(marker,content,infowindow));
                            }

                        }).catch(error => console.error('Error:', error));
                }

                var location_timeout = setTimeout("geolocFail()", 10000);

                navigator.geolocation.getCurrentPosition(function(position) {
                    clearTimeout(location_timeout);

                    initialize(position.coords);
                }, function(error) {
                    clearTimeout(location_timeout);
                    geolocFail();
                });

                function geolocFail(){
                    document.getElementById('pos').innerHTML = 'Deine Position konnte leider nicht ermittelt werden';
                }
            </script>
        </div>

        <div class="tab-pane active" id="list" role="tabpanel">
            <div class="row" style="margin: 15px 0;">
                <div class="col">
                    <div class="btn-toolbar titleLine" role="toolbar" aria-label="Toolbar with button groups">
                        <div ng-repeat="category in categories" class="btn-group  mr-2" role="group" aria-label="Basic example">
                            <button class="btn btn-secondary" ng-click="pressTitle(category._id)">{{category.name}}</button>
                        </div>
                        <div class="btn-group  mr-2" role="group" aria-label="Basic example">
                            <button class="btn btn-secondary" ng-click="pressTitle()">All</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="content" class="col ">
                    <div class="card-deck">
                        <div class="card-deck">
                            <article class="card cardAround" ng-repeat="report in reports">
                                <img class="card-img-top" src="uploads/{{data.image}}" alt="">
                                <div class="card-block">
                                    <h3 class="card-title">{{report.title}}</h3>
                                    <p class="card-text">
                                        <small>{{report.time | date: "dd.MM.yyyy, HH:mm"}} <br> category: {{report.category.name}}</small>
                                    </p>
                                    <p class="card-text">{{report.details}}</p>
                                </div>
                                <div class="card-footer cardfooterbutton">
                                    <p>
                                        <button class="btn btn-primary" ng-click="view(report._id)">View</button>
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="modalCtrl">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" ng-controller="registerCtrl">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close('registerModal')"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                <div class="regDiv">
                    <input class="form-control" type="text" placeholder="Username" id="nameReg" maxlength="10" required>
                    <input class="form-control" type="password" placeholder="Password" id="pwdReg" style="margin: 15px 0;" required>
                    <div class="errorRegister"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" type="submit" ng-click="register()">register</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close('registerModal')">close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="modalCtrl">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close('myModal')"><span
                        aria-hidden="true">&times;</span></button>
                <h4 id="titelView" style="margin: auto"></h4>
            </div>
            <div class="modal-body">
                <div><div id="timeView" style="display: inline"></div><div id="desView" style="display: inline"></div></div>
                <figure>
                    <img class="card-img-top" src="" alt="" style="max-width: 100%;">
                </figure>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close('myModal')">close</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>
